<!DOCTYPE html>
<html lang="en">

<head th:replace="layouts/head :: head(${title})"></head>

<body>
    <header th:replace="layouts/header.html"></header>
    <main class="container rounded-3 mt-1">
        <div class="tab-content" id="pills-tabContent">
            <div th:replace="custom_views/home.html"></div>
            <div th:replace="custom_views/semester.html"></div>
            <div th:replace="custom_views/grade.html"></div>
            <div th:replace="custom_views/class.html"></div>
            <div th:replace="custom_views/student.html"></div>
            <div th:replace="custom_views/course.html"></div>
            <div th:replace="custom_views/score_board.html"></div>
            <div th:replace="custom_views/regulation.html"></div>
        </div>
    </main>
   <footer th:replace="layouts/footer.html"></footer>
    <script th:replace="layouts/script"></script>
</body>

</html>