<div>
    <button class="btn btn-primary" data-toggle="modal" data-target="#add-modal">Thêm khối</button>
    <table class="table">
        <thead>
            <tr>
                <th class="col-1">#</th>
                <th class="col-4">Tên khối</th>
                <th class="col-3"></th>
            </tr>
        </thead>
        <tbody id="grade-content">

        </tbody>

    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end">
            <li class="page-item disabled" id="pre-page">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item " id="next-page">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>
<!--Add modal-->
<form method="POST" id="add-modal-form">
    <div class="modal fade" id="add-modal" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm khối</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-danger" id="add-message-error"></p>
                    <label for="">Tên khối</label>
                    <input class="form-control" type="text" id="add-name" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Thêm</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!--Update modal-->
<form id="update-modal-form">
    <div class="modal fade" id="update-modal" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cập nhật khối</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-danger" id="update-message-error"></p>
                    <label for="">Tên khối</label>
                    <input class="form-control" type="text" id="update-name" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-info" id="update-grade">Cập nhật</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!--Delete modal-->
<form id="delete-modal-form">
    <div class="modal fade" id="delete-modal" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xóa khối</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p  id="delete-message"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-danger" id="delete-grade">Xóa </button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- NOTIFICATION -->
<div class="modal fade" id="notification-modal"  data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo từ Ali</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4  id="notification-message"></h4>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-dismiss="modal">OK </button>
            </div>
        </div>
    </div>
</div>